In [2]:
#import pandas module
import pandas as pd
import csv

In [21]:
imdb_prin =  'C:\\Users\\sheri\\Documents\\Application of AI, ML\\name.basics.tsv\\data.tsv'
imdb_n =  'C:\\Users\\sheri\\Documents\\Application of AI, ML\\name.basics.tsv\\name.tsv'
imdb_dfx =  'C:\\Users\\sheri\\Documents\\Application of AI, ML\\name.basics.tsv\\dfx.csv'

In [4]:
dfp = pd.read_csv(imdb_prin, sep ='\t',low_memory = False)

In [29]:
dfx = pd.read_csv(imdb_dfx,low_memory = False)

In [7]:
dfn = pd.read_csv(imdb_n, sep ='\t,low_memory = False)

In [8]:
dfn

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0050419,tt0053137,tt0072308,tt0031983"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0117057,tt0037382,tt0071877,tt0038355"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,music_department","tt0049189,tt0057345,tt0054452,tt0056404"
3,nm0000004,John Belushi,1949,1982,"actor,soundtrack,writer","tt0077975,tt0072562,tt0080455,tt0078723"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050976,tt0050986,tt0060827,tt0069467"
...,...,...,...,...,...,...
10843398,nm9993714,Romeo del Rosario,\N,\N,"animation_department,art_department",tt2455546
10843399,nm9993716,Essias Loberg,\N,\N,NaN,\N
10843400,nm9993717,Harikrishnan Rajan,\N,\N,cinematographer,tt8736744
10843401,nm9993718,Aayush Nair,\N,\N,cinematographer,\N
10843402,nm9993719,Andre Hill,\N,\N,NaN,\N

In [10]:
data = pd.merge(dfp, dfn, on ="nconst")

In [130]:
dataN = data[data['category'].isin(['director','actor','actress'])]
dataM = data[data['category'].isin(['actor','actress'])]
# def get_director(x):
#     for i in x:
#         if i['category'] == 'director':
#             return i['name']
#     return np.nan

# data3 = dataN['category'].apply(get_director)

dataD = dataN[dataN['category']=='director']
dataD

,tconst,ordering,nconst,category,job,characters,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
2,tt0000001,2,nm0005690,director,\N,\N,William K.L. Dickson,1860,1935,"cinematographer,director,producer","tt1496763,tt1428455,tt0219560,tt0308254"
3,tt0000005,3,nm0005690,director,\N,\N,William K.L. Dickson,1860,1935,"cinematographer,director,producer","tt1496763,tt1428455,tt0219560,tt0308254"
4,tt0000006,1,nm0005690,director,\N,\N,William K.L. Dickson,1860,1935,"cinematographer,director,producer","tt1496763,tt1428455,tt0219560,tt0308254"
5,tt0000007,3,nm0005690,director,\N,\N,William K.L. Dickson,1860,1935,"cinematographer,director,producer","tt1496763,tt1428455,tt0219560,tt0308254"
6,tt0000008,2,nm0005690,director,\N,\N,William K.L. Dickson,1860,1935,"cinematographer,director,producer","tt1496763,tt1428455,tt0219560,tt0308254"
...,...,...,...,...,...,...,...,...,...,...,...
43990876,tt9916692,5,nm10538592,director,\N,\N,Andrzej Bartnikowski,\N,\N,NaN,\N
43990877,tt9916696,4,nm10529675,director,\N,\N,Chaudhary Abhijeet,\N,\N,"director,actor","tt9895022,tt9916696"
43990883,tt9916698,4,nm10439323,director,\N,\N,Kostas Antarachas,\N,\N,"director,writer,producer",tt9916698
43990887,tt9916730,5,nm10538612,director,\N,\N,Kiran Gawade,\N,\N,NaN,\N
43990908,tt9916856,5,nm10538645,director,\N,\N,Johan Planefeldt,\N,\N,director,\N

In [131]:
data2 = pd.merge(dfx, dataM[['tconst','category', 'primaryName']], on ="tconst")

In [132]:
data2

,Unnamed: 0,index,tconst,titleType,primaryName_x,originalName,isAdult,yearOfRelease,Duration,genres,averageRating,numVotes,category,primaryName_y
0,0,1026645,tt6998518,movie,Mandy,Mandy,False,2018,121,"Action,Horror,Mystery",6.5,65722,actor,Nicolas Cage
1,0,1026645,tt6998518,movie,Mandy,Mandy,False,2018,121,"Action,Horror,Mystery",6.5,65722,actor,Linus Roache
2,0,1026645,tt6998518,movie,Mandy,Mandy,False,2018,121,"Action,Horror,Mystery",6.5,65722,actor,Ned Dennehy
3,0,1026645,tt6998518,movie,Mandy,Mandy,False,2018,121,"Action,Horror,Mystery",6.5,65722,actress,Andrea Riseborough
4,1,1035201,tt7177814,tvEpisode,Castle Party Massacre,Castle Party Massacre,False,2018,30,"Action,Adventure,Animation",7.2,1536,actor,John DiMaggio
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23007,5963,1098110,tt8737608,movie,Rams,Rams,False,2020,118,"Adventure,Comedy,Drama",6.4,1070,actor,Michael Caton
23008,5963,1098110,tt8737608,movie,Rams,Rams,False,2020,118,"Adventure,Comedy,Drama",6.4,1070,actor,Wayne Blair
23009,5963,1098110,tt8737608,movie,Rams,Rams,False,2020,118,"Adventure,Comedy,Drama",6.4,1070,actor,Kipan Rothbury
23010,5964,1105308,tt8945942,movie,Centigrade,Centigrade,False,2020,89,"Drama,Thriller",4.3,2109,actress,Genesis Rodriguez
23011,5964,1105308,tt8945942,movie,Centigrade,Centigrade,False,2020,89,"Drama,Thriller",4.3,2109,actor,Vincent Piazza

In [133]:
data3 = data2.groupby('tconst')['primaryName_y'].apply(list).reset_index(name = 'cast')

In [134]:
dataF = pd.merge(data3, dataD[['tconst','primaryName']], on='tconst')

In [135]:
dataG = dataF.groupby('tconst')['primaryName'].apply(list).reset_index(name = 'director(s)')

In [136]:
dataH = pd.merge(dataG, data3[['tconst', 'cast']], on='tconst')

In [138]:
dataH.to_csv('cast.csv')
#dataF

In [137]:
dataH

,tconst,director(s),cast
0,tt0069049,[Orson Welles],"[John Huston, Susan Strasberg, Peter Bogdanovi..."
1,tt0360556,[Ramin Bahrani],"[Cindy Katz, Michael Shannon, Michael B. Jorda..."
2,tt0365545,[Haifaa Al-Mansour],"[Lynn Whitfield, Sanaa Lathan, Lyriq Bent, Ric..."
3,tt0427543,[Sam Taylor-Johnson],"[Giovanni Ribisi, Billy Bob Thornton, Aaron Ta..."
4,tt0437086,[Robert Rodriguez],"[Christoph Waltz, Jennifer Connelly, Mahershal..."
...,...,...,...
5494,tt9913036,"[Haruo Sotozaki, Shin'ya Shimomura]","[Maaya Sakamoto, Natsuki Hanae, Daiki Yamashit..."
5495,tt9913038,"[Haruo Sotozaki, YÃ»ki ItÃ´]","[Takumi Yamazaki, Hiro Shimono, Natsuki Hanae,..."
5496,tt9913040,"[ShÃ»ji Miyahara, Haruo Sotozaki]","[Takumi Yamazaki, Hiro Shimono, Natsuki Hanae,..."
5497,tt9913050,"[Haruo Sotozaki, Masashi Takeuchi]","[Hiro Shimono, Natsuki Hanae, Yoshitsugu Matsu..."
5498,tt9916362,[Pablo AgÃ¼ero],"[Alex BrendemÃ¼hl, Daniel Fanego, Amaia Aberast..."